<div id="chat">
</div>

<form id="send-text">
  <input type="tex" id="new-text")>
  <input type="submit" value="Send">
</form>

<script>
  // Setup the client
  var ws = new Philote({url: "<%= server %>"});

  var chatbox = document.querySelector("#chat");
  var newText = document.querySelector("#new-text")

  // We react to incoming messages on the room channel, appending
  // their text to the DOM.
  ws.on("<%= room %>", function(data, event) {
    chatbox.innerHTML += "<h5>" + event.issuer + "</h5>";
    chatbox.innerHTML += "<p>" + data + "</p>";
  });

  // Whenever the form is submitted, we publish the text area
  // message into the websocket channel.
  document.forms["send-text"].onsubmit = function(event) {
    event.preventDefault();
    ws.publish("<%= room %>", newText.value);

    chatbox.innerHTML += "<h5>Me</h5>";
    chatbox.innerHTML += "<p>" + newText.value + "</p>";
    newText.value = "";
  }

  // Start connection with the access key identifying token
  ws.connect("<%= token %>");
</script>
